body {
    margin: 0px;
    overflow: hidden;
    background-color: RGB(1, 1, 1);
}

#canvasParent {
    width: 100%;
    bottom: 0px;
    position: absolute;
}

#musicInfo {
    display: flex;
    position: absolute;
    bottom: 100px;
    right: -1000px;
    height: 200px;
    margin-right: 10px;
    justify-content: flex-end;
    max-width: 50%;
    transition: right 0.5s, opacity 0.5s;
    opacity: 0.5;
    font-family: 'Raleway', sans-serif;
}

#musicInfo:hover {
    opacity: 1;
}

#musicInfoItems {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    background-color: grey;
    text-align: end;
    padding: 10px;
    min-width: 300px;
}

.musicInfoItem {
    color: RGB(254, 254, 254);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#artist, #album {
    font-size: 24px;
}

#track {
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
}

#trackTimes {
    display: flex;
    flex-direction: row;
    margin-top: 3px;
}

#currentTime, #duration {
    font-size: 16px;
    width: 50%;
}

#currentTime {
    text-align: left;
}

#duration {
    text-align: right;
}

#artwork > img {
    height: 100%;
}

#progressBar {
    height: 2px;
    position: relative;
    margin-top: 20px;
}

#progressBar > div {
    height: 100%;
    position: absolute;
}

#fullBar {
    background-color: darkgray;
    width: 100%;
}

#partialBar {
    background-color: white;
    width: 0%;
    transition: width 1s;
}
